.div-containerviewusers {
    width: 100%;
}

.div-busqueda {
    display: flex;
    height: 35px;
    gap: 10px;
}

.div-selectbusqueda {
    width: 150px;
    height: 100%;
}

.div-inputbusqueda {    
    width: 200px;
    height: 100%;
}

.div-tabla-usuarios {
    margin-top: 10px;
}